#cursor {
  animation: blinker 1s step-end infinite; 
  /*you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {  
  50% { opacity: 0; }
}



body {
        font-family: 'helvetica', sans-serif;
        font-size: 72px;
        line-height: 1em;
        color: white;
        background-color: black;
}




#container {
  width: 1000px;
  padding: 50px;
  margin: 50px auto;
 word-wrap: break-word;
  


}
.inner {
  /*display:block;*/
}